[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
streamlit = "*"
black = "*"
stream-chat = "*"
streamlit-chat = "*"
tiktoken = "*"
docx2txt = "*"
unstructured = "*"
docx = "*"
python-docx = "*"
sentence-transformers = "*"
transformers = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.11"
